body{
    background-color: lightgrey;
}

.inside-box{

background-color: white;
padding:50px 20px;
margin:30px 5px;

}

.fa{
    color: blue;
}

p{
    font-size: 14px;
}

.box{
    padding:30px 4px;

}